extends layout

block content
    .card.post
        .top
            img(src=post.image)
            .bar
                .title
                    h2= post.title
                .date= post.date
        p
            strong= post.description
        | !{post.body}